<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ALE • Animated Wallpaper</title>
  <link rel="stylesheet" href="animated-wallpaper.css">
  <% if (NODE_ENV === 'development') { %>
		<script src="http://localhost:8098"></script>
  <% } %>
  
</head>
<body>
  
  <div id="animated-wallpaper"></div>
  <script src="animated-wallpaper.js"></script>
	
</body>
</html>
