<!DOCTYPE html>
<html lang="en" class="theme-dark <% if( singleFileMode ){ %>standalone-gallery<% } %>" style="background: #171717; min-height: 100%;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Audible Library</title>
  
  <% if ( !singleFileMode ){ %>
    <script defer src="assets/js/lodash.min.js"></script>
    <script defer src="assets/extension-js/jszip.min.js"></script>
    <script defer src="assets/extension-js/jszip-utils.min.js"></script>
    <script defer src="assets/extension-js/FileSaver.min.js"></script>
    <script defer src="assets/extension-js/papaparse.min.js"></script> 
    <script defer src="file-paths.js"></script>
  <% } %>
  
</head>
<body>
  
  <div id="audible-library-extractor"></div>
  <script type="module" src="./src/gallery/gallery-main.js"></script>
	
</body>
</html>
