
.box-layout-wrapper {
  max-width: $containerSize;
  max-width: 600px;
  margin: 0 auto 350px auto;
  text-align: center;
  padding: 0 20px;
}


.theme-dark .box-layout-wrapper {
  .single-box {
    background: rgba( #1b1b1b, .98 );
    box-shadow: $shadowMedium rgba(0,0,0,0.45);
    color: $darkFrontColor;
    border: 1px solid rgba( lighten( $darkBackColor, 32), .25 );
  }
}
.theme-light .box-layout-wrapper {
  .single-box {
    background: rgba( lighten( $lightBackColor, 5), .98 );
    box-shadow: $shadowSmall  rgba(0,0,0,0.2), $shadowMedium  rgba(0,0,0,0.2);
    color: $lightFrontColor;
    border: 1px solid rgba( $lightFrontColor, .25 );
    
    a {
      display: inline-block;
      text-decoration: none;
      color: $lightFrontColor !important;
      display: flex;
      justify-content: flex-start;
      justify-items: flex-start;
      align-content: center;
      align-items: center;
    }
    a:visited {
      color: lighten( $lightFrontColor, 35) !important;
    }
    a:hover {
      color: lighten( $lightFrontColor, 20) !important;
    }
  }
}

.box-layout-wrapper .single-box {
  position: relative;
  z-index: 0;
  padding: 30px;
  padding-top: 23px;
  text-align: left;
  border-radius: 11px;
  margin-top: 40px;
  &:first-child { margin-top: 0; }
  
  .books-total {
    outline: none;
    cursor: pointer;
    border-radius: 9999999px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 15px;
    right: 15px;
    display: flex !important;
    justify-content: center !important;
    justify-items: center !important;
    align-content: center !important;
    align-items: center !important;
    @include themify($themes) {
      border: 3px solid rgba( themed(frontColor), .1);
      color: rgba( themed(frontColor), .85) !important;
    }
    & > div {
      @include themify($themes) {
        color: rgba( themed(frontColor), .85) !important;
      }
    }
  }
  
  h2 { 
    box-sizing: border-box !important;
    display: block;
    padding-right: 50px; 
    margin: 0;
    margin-bottom: 15px;
    font-size: 1.8em;
    line-height: 1.1em;
    font-weight: 400;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
  
  > a {
    box-sizing: border-box !important;
  }
  
  .child-categories {
    margin-bottom: 15px;
    font-size: .9em;
    line-height: 1.12em;
  }
  .child-categories > div {
    display: inline-block; 
    padding-right: 5px;
    a {
      display: inline;
      text-decoration: none;
      @include themify($themes) {
        color: rgba( themed(frontColor), .5);
      }
      &:hover {
        @include themify($themes) {
          color: rgba( themed(frontColor), .8);
        }
      }
    }
    span {    
      @include themify($themes) {
        color: rgba( themed(frontColor), .5);
      }
    }
  }
  
  .sample-covers {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    > div {
      height: 100%;
      margin-left: 10px;
      display: inline-block;
      &:first-child { margin-left: 0; }
      border-radius: 3px;
      overflow: hidden;
      background-clip: padding-box;
      @include themify($themes) {
        border: 1px solid rgba( themed(outerColor), .3 );
      }
    }
    img { 
      max-width: 98px; 
      // height: 100%;
      display: block;
  	  -webkit-user-drag: none;
  	  -khtml-user-drag: none;
  	  -moz-user-drag: none;
  	  -o-user-drag: none;
  	  user-drag: none;
    }
  }
}